* {
  scroll-behavior: smooth;
  scroll-padding: 2rem;
}

body {
  font-family: "Noto Sans Thai" !important;
  min-width: 500px;
  min-height: 150px;
}

/* เปลี่ยนสีและน้ำหนัก h1  */
.container h1 {
  font-weight: bold;
  color: #f5cd25;
}

/* เปลี่ยนสีตัวหนังสือใน navbar */
.nav-link {
  transition: all 0.2s;
  color: #000;
}

.nav-link:hover {
  color: #f5cd25 !important;
  font-weight: bold;
}

/* แก้ไขปุ่มลงทะเบียน */
#reg_btn {
  transition: 0.2s;
  padding: 8px 5px;
  border-radius: 8px;
}
#reg_btn:hover {
  background-color: #f5cd25 !important;
  color: #fff !important;
  font-weight: bold;
}

/* แก้ไข card ลิงก์ a  */
.card-body a {
  background-color: #f5cd25;
  color: #fff;
  transition: all 0.2s;
}
.card-body a:hover {
  color: #fff;
  font-weight: bold;
}

.breadcrumb li a {
  color: #f5cd25;
}


/* ปุ่ม a พิกัดใน content 1 */
.btn {
  background: #f5cd25;
  color: #fff;
  transition: all 0.2s;
}
.btn:hover {
   color: #000;
   font-weight: bold;
}


/* ถ้าขนาดต่ำกว่า 766px  */
@media (max-width: 766px) {

   /* ทำให้เมนูเป็นแนวตั้ง */
   .navbar-nav {
      display: flex;
      flex-direction: column;
   }

   /* เปลี่ยนpadding และเพิ่มสีพื้นหลังให้กับปุ่มลงทะเบียน */
   #reg_btn {
      padding: 8px 5px;
      background-color: #f5cd25;
   }

   /* เพิ่ม margin top ของปุ่มเข้าสู่ระบบ */
   .nav-item:nth-child(4){
      margin-top: 10px;
   }
}
